services:
  postgres:
    container_name: postgres_db
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - payment

  backend:
    container_name: payment_backend
    image: node:20-alpine
    working_dir: /app
    ports:
      - "4000:4000"
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DATABASE_URL: "postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "npm install && npm run start:dev"
    depends_on:
      - postgres
    networks:
      - payment

  ngrok:
    image: ngrok/ngrok:latest
    container_name: ngrok_tunnel
    restart: unless-stopped
    command:
      - "http"
      - "payment_backend:4000"
    env_file:
      - .env
    environment:
      NGROK_REGION: eu
    ports:
      - "4040:4040"
    depends_on:
      - backend
    networks:
      - payment

volumes:
  postgres_data:

networks:
  payment:
    name: payment_network