services:
  postgres:
    container_name: postgres_db
    image: postgres:16-alpine
    ports:
      - "5433:5432"
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - payment

volumes:
  postgres_data:

networks:
  payment:
    name: payment_network